In [5]:
import os
import glob
import pandas as pd
import numpy as np

In [11]:
path = "C:\Users\Student\Desktop\Google trends csvs\Conservatives"
allFiles = glob.glob(os.path.join(path,"*.csv"))

np_array_list = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    np_array_list.append(df.as_matrix())

comb_np_array = np.vstack(np_array_list)
big_frame = pd.DataFrame(comb_np_array)

big_frame.columns = ["Date","Number of searches"]

In [12]:
big_frame.set_index(['Date'])

           Number of searches
Date
19/04/2017                 67
20/04/2017                 56
21/04/2017                 43
22/04/2017                 42
23/04/2017                 46
24/04/2017                 51
25/04/2017                 42
26/04/2017                 57
27/04/2017                 44
28/04/2017                 36
29/04/2017                 33
30/04/2017                 27
01/05/2017                 28
02/05/2017                 46
03/05/2017                 42
04/05/2017                 49
05/05/2017                 77
06/05/2017                 50
07/05/2017                 42
08/05/2017                 62
09/05/2017                 65
10/05/2017                 55
11/05/2017                 52
12/05/2017                 45
13/05/2017                 62
14/05/2017                 45
19/04/2017                 72
20/04/2017                 62
21/04/2017                 42
22/04/2017                 38
...                       ...
11/05/2017                 14
12/05/2017                 21
13/05/2017                 15
14/05/2017                 13
19/04/2017                 65
20/04/2017                 36
21/04/2017                 30
22/04/2017                 33
23/04/2017                 44
24/04/2017                 38
25/04/2017                 50
26/04/2017                 28
27/04/2017                 36
28/04/2017                 23
29/04/2017                 27
30/04/2017                 24
01/05/2017                 18
02/05/2017                 24
03/05/2017                 29
04/05/2017                 24
05/05/2017                100
06/05/2017                 36
07/05/2017                 51
08/05/2017                 53
09/05/2017                 62
10/05/2017                 56
11/05/2017                 36
12/05/2017                 49
13/05/2017                 25
14/05/2017                 49

[104 rows x 1 columns]

In [13]:
data = big_frame.concat(['Date'], axis=1, join='inner')

AttributeError: 'DataFrame' object has no attribute 'concat'