In [184]:
import json
import pandas as pd
import plotly.plotly as py
from pandas import DataFrame, Series
import plotly 
import plotly.graph_objs
from plotly.graph_objs import *
from pymongo import MongoClient
from pandas.io.json import json_normalize
import cufflinks as cf
import numpy as np
#import matplotlib.pyplot as plt
import seaborn as sns

In [185]:
client = MongoClient()

In [186]:
db = client.data

In [187]:
collection = db.restuarants

In [188]:
pipe = [{"$match": {"$and": [{"borough": "Manhattan"},{"cuisine":{"$in": ["Polish", "Czech", "Portuguese"]}}]}}, {"$unwind": "$grades"}, {"$project" :{"gdate": "$grades.date", "gmonth": {"$month": "$grades.date"}, "gyear": {"$year": "$grades.date"}, "gscore": "$grades.score", "cuisine": "$cuisine"}}, {"$group": {"_id": {"cuisine": "$cuisine","month":"$gmonth"}, "avgscore": {"$avg": "$gscore"}}}]

In [189]:
q = db.restuarants.aggregate(pipeline=pipe)

In [190]:
df = json_normalize(list(q))

In [191]:
df

   _id.cuisine  _id.month   avgscore
0        Czech          1   9.000000
1        Czech          2   5.000000
2   Portuguese         11   9.000000
3   Portuguese          4   7.000000
4   Portuguese          3   9.000000
5       Polish          5  14.666667
6   Portuguese          7  26.000000
7       Polish         12   7.000000
8   Portuguese          9  10.000000
9   Portuguese          8  24.000000
10  Portuguese          2   7.000000
11       Czech         12   8.000000
12      Polish         11  10.500000
13  Portuguese          5  13.000000
14      Polish         10  16.000000
15      Polish          4  19.000000
16      Polish          9  12.000000
17       Czech          8   8.500000
18  Portuguese         10  30.000000
19  Portuguese          6  11.000000
20      Polish          8   7.000000

In [192]:
 #  df.pivot('_id.month', '_id.cuisine', 'avgscore')
df = df.pivot_table(index = '_id.month', columns = '_id.cuisine', values = 'avgscore')

In [152]:
df.iplot()

In [196]:
df

_id.cuisine  Czech     Polish  Portuguese
_id.month
1            9.000  12.309524        14.6
2            5.000  12.309524         7.0
3            7.625  12.309524         9.0
4            7.625  19.000000         7.0
5            7.625  14.666667        13.0
6            7.625  12.309524        11.0
7            7.625  12.309524        26.0
8            8.500   7.000000        24.0
9            7.625  12.000000        10.0
10           7.625  16.000000        30.0
11           7.625  10.500000         9.0
12           8.000   7.000000        14.6

In [ ]:
# mean
#czech 7.625000
#polish 12.309524
#portugues14.600000

In [194]:
df = df.fillna(df.mean())

In [206]:
#df = cf.datagen.lines()

py.iplot([{
    'x': df.index,
    'y': df['avgscore'],
    'name': col
}  for col in df)

SyntaxError: invalid syntax (<ipython-input-206-53057e2ffd2a>, line 7)