In [1]:
import json
import pandas as pd
from pandas import DataFrame, Series

In [16]:
from pandas.io.json import json_normalize # demodel your pandas to normalize the data (splits the nested dictonaries)

In [17]:
d = [{'name': 'McDonalds', 'coords':[0.13211, 51.65151], 'address': {'street': 'Wapping High Street', 'city': 'London', 'pcode': 'W12 3DF'}}]

In [18]:
import pprint

In [19]:
pprint.pprint(d)

[{'address': {'city': 'London',
              'pcode': 'W12 3DF',
              'street': 'Wapping High Street'},
  'coords': [0.13211, 51.65151],
  'name': 'McDonalds'}]

In [21]:
d2 = json_normalize(d)

In [23]:
d2

,address.city,address.pcode,address.street,coords,name
0,London,W12 3DF,Wapping High Street,"[0.13211, 51.65151]",McDonalds

In [22]:
DataFrame(data=d)

,address,coords,name
0,"{u'city': u'London', u'pcode': u'W12 3DF', u's...","[0.13211, 51.65151]",McDonalds