In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r"C:\Users\Student\Desktop\train_ver2.csv", nrows=1000)

In [7]:
df.describe() #  profiles the data for you - give you mean, count etc.

,ncodpers,ind_nuevo,indrel,indrel_1mes,conyuemp,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.000000e+03,999.0,999.000000,999.0,0.0,999.0,999.000000,999.000000,835.000000,1000.0,...,1000.0,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.000000,1000.000000,1000.0000
mean,1.051354e+06,0.0,1.098098,1.0,NaN,1.0,28.046046,0.459459,105122.643198,0.0,...,0.0,0.0,0.001000,0.010000,0.011000,0.005000,0.0,0.019000,0.021000,0.1020
std,1.028927e+04,0.0,3.100583,0.0,NaN,0.0,15.402479,0.498603,86592.772878,0.0,...,0.0,0.0,0.031623,0.099549,0.104355,0.070569,0.0,0.136593,0.143456,0.3028
min,1.050088e+06,0.0,1.000000,1.0,NaN,1.0,2.000000,0.000000,13093.260000,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000
25%,1.050419e+06,0.0,1.000000,1.0,NaN,1.0,13.500000,0.000000,57895.785000,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000
50%,1.050780e+06,0.0,1.000000,1.0,NaN,1.0,28.000000,0.000000,82090.380000,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000
75%,1.051784e+06,0.0,1.000000,1.0,NaN,1.0,45.000000,1.000000,123190.350000,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000
max,1.375586e+06,0.0,99.000000,1.0,NaN,1.0,52.000000,1.000000,926880.450000,0.0,...,0.0,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.0000

In [9]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df['age'].value_counts()

 22    277
 23    253
 24     78
 25     52
 26     42
 27     38
 30     28
 32     18
 28     18
 31     17
 29     16
 33     14
 35     12
 36     11
 37     11
 38     10
 42      7
 39      7
 50      7
 45      6
 44      6
 47      5
 55      5
 52      5
 48      4
 63      4
 54      3
 34      3
 49      3
 58      3
 65      3
 60      3
 43      2
 53      2
 40      2
 46      2
 59      2
  8      2
 41      2
 57      2
 67      2
  6      1
  9      1
 51      1
 15      1
 16      1
 77      1
 12      1
 69      1
 84      1
 78      1
 83      1
 NA      1
 10      1
Name: age, dtype: int64

In [15]:
df.columns

Index([u'fecha_dato', u'ncodpers', u'ind_empleado', u'pais_residencia',
       u'sexo', u'age', u'fecha_alta', u'ind_nuevo', u'antiguedad', u'indrel',
       u'ult_fec_cli_1t', u'indrel_1mes', u'tiprel_1mes', u'indresi',
       u'indext', u'conyuemp', u'canal_entrada', u'indfall', u'tipodom',
       u'cod_prov', u'nomprov', u'ind_actividad_cliente', u'renta',
       u'segmento', u'ind_ahor_fin_ult1', u'ind_aval_fin_ult1',
       u'ind_cco_fin_ult1', u'ind_cder_fin_ult1', u'ind_cno_fin_ult1',
       u'ind_ctju_fin_ult1', u'ind_ctma_fin_ult1', u'ind_ctop_fin_ult1',
       u'ind_ctpp_fin_ult1', u'ind_deco_fin_ult1', u'ind_deme_fin_ult1',
       u'ind_dela_fin_ult1', u'ind_ecue_fin_ult1', u'ind_fond_fin_ult1',
       u'ind_hip_fin_ult1', u'ind_plan_fin_ult1', u'ind_pres_fin_ult1',
       u'ind_reca_fin_ult1', u'ind_tjcr_fin_ult1', u'ind_valo_fin_ult1',
       u'ind_viv_fin_ult1', u'ind_nomina_ult1', u'ind_nom_pens_ult1',
       u'ind_recibo_ult1'],
      dtype='object')

In [16]:
df.ix[:,:]   #  first is rows e.g. [ :10, 1:11] show first 10 rows and column 2 to 12 (1 is index position so column 2) - this way is more open bus uses more memory

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
5,2015-01-28,1050615,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
6,2015-01-28,1050616,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
7,2015-01-28,1050617,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
8,2015-01-28,1050619,N,ES,H,24,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
9,2015-01-28,1050620,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
10,2015-01-28,1050621,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
11,2015-01-28,1050622,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
12,2015-01-28,1050623,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
13,2015-01-28,1050624,N,ES,H,65,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
14,2015-01-28,1050625,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
15,2015-01-28,1050626,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
16,2015-01-28,1050610,N,ES,V,24,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
17,2015-01-28,1050627,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
18,2015-01-28,1050609,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
19,2015-01-28,1050605,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
20,2015-01-28,1050582,N,ES,V,28,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
21,2015-01-28,1050586,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,1
22,2015-01-28,1050588,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
23,2015-01-28,1050589,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
24,2015-01-28,1050591,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
25,2015-01-28,1050592,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
26,2015-01-28,1050595,N,ES,V,25,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
27,2015-01-28,1050596,N,ES,H,25,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
28,2015-01-28,1050597,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
29,2015-01-28,1050598,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,2015-01-28,1051209,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
971,2015-01-28,1051254,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
972,2015-01-28,1051247,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
973,2015-01-28,1051214,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
974,2015-01-28,1051216,N,ES,H,23,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
975,2015-01-28,1051217,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
976,2015-01-28,1051219,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
977,2015-01-28,1051224,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
978,2015-01-28,1051226,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
979,2015-01-28,1051228,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
980,2015-01-28,1051230,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
981,2015-01-28,1051232,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
982,2015-01-28,1051234,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
983,2015-01-28,1051236,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
984,2015-01-28,1051239,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
985,2015-01-28,1051240,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
986,2015-01-28,1051243,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
987,2015-01-28,1051245,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
988,2015-01-28,1051252,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
989,2015-01-28,1051118,N,ES,V,23,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
990,2015-01-28,1051113,N,ES,H,23,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
991,2015-01-28,1051111,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,1
992,2015-01-28,1050976,N,ES,V,8,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
993,2015-01-28,1050977,N,ES,V,28,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
994,2015-01-28,1050978,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
995,2015-01-28,1050980,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
996,2015-01-28,1050982,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
997,2015-01-28,1050986,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
998,2015-01-28,1050988,N,ES,V,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
999,2015-01-28,1050992,N,ES,H,22,2012-08-13,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.iloc #integer based location something

In [17]:
df.age

0       35
1       23
2       23
3       22
4       23
5       23
6       23
7       23
8       24
9       23
10      23
11      23
12      23
13      65
14      23
15      23
16      24
17      23
18      22
19      23
20      28
21      23
22      22
23      23
24      23
25      22
26      25
27      25
28      23
29      23
      ...
970     22
971     22
972     22
973     22
974     23
975     22
976     22
977     22
978     22
979     22
980     22
981     22
982     22
983     22
984     22
985     22
986     22
987     22
988     22
989     23
990     23
991     22
992      8
993     28
994     22
995     22
996     22
997     22
998     22
999     22
Name: age, dtype: object