In [82]:
import pymongo 
import json
from pymongo import MongoClient
import pandas as pd
from pandas import DataFrame, Series
import plotly.plotly as py
import cufflinks as cf
import numpy as np

In [75]:
import plotly 
plotly.tools.set_credentials_file(username='', api_key='')

In [76]:
plotly.offline.init_notebook_mode()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [77]:
import plotly.plotly as py
from plotly.graph_objs import *

trace0 = Scatter(
    x=[1, 2, 3, 4],
    y=[10, 15, 13, 17]
)
trace1 = Scatter(
    x=[1, 2, 3, 4],
    y=[16, 5, 11, 9]
)
data = Data([trace0, trace1])

py.iplot(data, filename = 'basic-line')

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~mazaja/0 or inside your plot.ly account where it is named 'basic-line'

In [63]:
client = MongoClient()

In [64]:
db = client.data

In [65]:
collection = db.restuarants

In [85]:
pipe = [{"$match": {"cuisine": "Polish"}}, {"$unwind": "$grades"}, {"$project" :{"gdate": "$grades.date", "gmonth": {"$month": "$grades.date"}, "gyear": {"$year": "$grades.date"}, "gscore": "$grades.score"}}, {"$group": {"_id": "$gmonth", "avgscore": {"$avg": "$gscore"}}}, {"$sort": {"avgscore": -1}}]

In [86]:
q = db.restuarants.aggregate(pipeline=pipe)

In [87]:
df = DataFrame(list(q))

In [88]:
df

    _id   avgscore
0    10  15.222222
1     1  14.833333
2     9  14.400000
3    12  12.909091
4     5  12.470588
5     4  12.071429
6    11  11.888889
7     6  11.142857
8     7  10.888889
9     8  10.428571
10    3   9.142857
11    2   7.000000

In [79]:
grouped_small_dataset = df.groupby('Month')

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~mazaja/0 or inside your plot.ly account where it is named 'basic-line'

In [83]:
df.iplot(kind='bar')

SyntaxError: invalid syntax (<ipython-input-84-f0ce0019d369>, line 6)