In [1]:
import pytrends
from pytrends.request import TrendReq
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
import json

In [11]:
def retrieve_google_trends(start_date='2017-04-18', end_date=''):
    if end_date == '':
        import datetime as dt
        end_date = str(dt.datetime.today())[:10]
    period = start_date + ' ' + end_date
    pytrend = TrendReq('gmail', 'password', custom_useragent='My Pytrends Script')
    pytrend.build_payload(kw_list=['theresa may', 'jeremy corbyn', 'tim farron', 'Paul Nuttall', 'Nicola Sturgeon'] ,timeframe=period)
    # 'labour party', 'jeremy corbyn', 'nicola sturgeon', 'scottish national party', 'snp', 'tim farron', 'liberal democrats', 'lib dems', 'lib dem', 'Caroline Lucas', 'Jonathan Bartley', 'Green Party', 'Paul Nuttall', 'UK Independence Party', 'UKIP'
    return pytrend.interest_over_time()

In [12]:
data = retrieve_google_trends()

In [13]:
data

,theresa may,jeremy corbyn,tim farron,Paul Nuttall,Nicola Sturgeon
date,,,,,
2017-04-18,100,12,8,0,5
2017-04-19,37,10,10,0,4
2017-04-20,17,15,4,0,3
2017-04-21,12,9,2,0,2
2017-04-22,11,8,2,0,2
2017-04-23,9,12,3,1,1
2017-04-24,7,8,2,2,2
2017-04-25,8,5,4,0,1
2017-04-26,10,7,2,0,2
2017-04-27,8,8,2,0,1
2017-04-28,7,4,1,1,1
2017-04-29,7,6,1,3,1
2017-04-30,16,5,2,0,1
2017-05-01,16,4,1,0,1
2017-05-02,15,4,1,0,1
2017-05-03,19,4,2,0,1
2017-05-04,14,4,1,1,1
2017-05-05,11,6,1,1,3
2017-05-06,8,6,1,1,2
2017-05-07,8,4,1,0,1
2017-05-08,9,6,2,0,1
2017-05-09,21,12,1,0,1
2017-05-10,14,8,1,0,1
2017-05-11,10,8,1,1,1
2017-05-12,14,12,1,0,1
2017-05-13,9,7,1,0,1
2017-05-14,9,7,1,0,2