In [125]:
import pytrends
from pytrends.request import TrendReq
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
import json

In [126]:
def retrieve_google_trends(start_date='2017-04-18', end_date='2017-06-07', geo='UK'):
    if end_date == '':
        import datetime as dt
        end_date = str(dt.datetime.today())[:10]
    period = start_date + ' ' + end_date
    pytrend = TrendReq('gmail', 'password', custom_useragent='My Pytrends Script')
    pytrend.build_payload(kw_list=['conservatives+conservative party+tories+theresa may', 'labour party+jeremy corbyn', 'tim farron+liberal democrats+lib dems+lib dem', 'Caroline Lucas+Jonathan Bartley+Green Party'] ,timeframe=period)
    # 'labour party', 'jeremy corbyn', 'nicola sturgeon', 'scottish national party', 'snp', 'tim farron', 'liberal democrats', 'lib dems', 'lib dem', 'Caroline Lucas', 'Jonathan Bartley', 'Green Party', 'Paul Nuttall', 'UK Independence Party', 'UKIP'
    return pytrend.interest_over_time()

In [127]:
data = retrieve_google_trends()

In [128]:
data

,conservatives+conservative party+tories+theresa may,labour party+jeremy corbyn,tim farron+liberal democrats+lib dems+lib dem,Caroline Lucas+Jonathan Bartley+Green Party
date,,,,
2017-04-18,100,19,22,6
2017-04-19,42,15,18,4
2017-04-20,23,19,10,5
2017-04-21,17,13,8,4
2017-04-22,15,10,6,3
2017-04-23,14,15,8,3
2017-04-24,13,11,8,4
2017-04-25,13,8,8,4
2017-04-26,15,10,6,4
2017-04-27,14,10,4,5
2017-04-28,11,6,4,3
2017-04-29,11,8,4,3
2017-04-30,20,6,5,4
2017-05-01,20,7,3,4
2017-05-02,19,7,4,5
2017-05-03,24,7,7,5
2017-05-04,19,8,7,6
2017-05-05,21,11,6,6
2017-05-06,14,8,4,3
2017-05-07,13,7,3,3
2017-05-08,16,8,7,4
2017-05-09,27,16,4,6
2017-05-10,22,11,5,8
2017-05-11,16,12,4,5
2017-05-12,18,15,7,4
2017-05-13,14,10,4,3
2017-05-14,12,9,4,3
2017-05-15,22,16,4,3
2017-05-16,16,22,6,3
2017-05-17,16,12,14,4
2017-05-18,27,12,10,8
2017-05-19,22,12,7,5
2017-05-20,20,14,6,3
2017-05-21,24,19,5,3
2017-05-22,38,19,7,7
2017-05-23,34,14,5,4
2017-05-24,18,9,4,3
2017-05-25,16,9,3,3
2017-05-26,19,25,3,3
2017-05-27,19,16,3,2
2017-05-28,22,14,4,3
2017-05-29,33,22,4,4
2017-05-30,35,35,4,6
2017-05-31,39,33,11,10
2017-06-01,37,28,11,6
2017-06-02,42,34,9,5
2017-06-03,39,28,6,3
2017-06-04,66,30,6,5
2017-06-05,48,32,10,6
2017-06-06,49,34,11,7
2017-06-07,76,52,17,10

In [129]:
clsld = DataFrame(data)

In [130]:
clsld.columns = ['Conservative Party', 'Labour Party', 'Liberal Democrats', 'Green Party']

In [131]:
clsld

            Conservative Party  Labour Party  Liberal Democrats  Green Party
date
2017-04-18                 100            19                 22            6
2017-04-19                  42            15                 18            4
2017-04-20                  23            19                 10            5
2017-04-21                  17            13                  8            4
2017-04-22                  15            10                  6            3
2017-04-23                  14            15                  8            3
2017-04-24                  13            11                  8            4
2017-04-25                  13             8                  8            4
2017-04-26                  15            10                  6            4
2017-04-27                  14            10                  4            5
2017-04-28                  11             6                  4            3
2017-04-29                  11             8                  4            3
2017-04-30                  20             6                  5            4
2017-05-01                  20             7                  3            4
2017-05-02                  19             7                  4            5
2017-05-03                  24             7                  7            5
2017-05-04                  19             8                  7            6
2017-05-05                  21            11                  6            6
2017-05-06                  14             8                  4            3
2017-05-07                  13             7                  3            3
2017-05-08                  16             8                  7            4
2017-05-09                  27            16                  4            6
2017-05-10                  22            11                  5            8
2017-05-11                  16            12                  4            5
2017-05-12                  18            15                  7            4
2017-05-13                  14            10                  4            3
2017-05-14                  12             9                  4            3
2017-05-15                  22            16                  4            3
2017-05-16                  16            22                  6            3
2017-05-17                  16            12                 14            4
2017-05-18                  27            12                 10            8
2017-05-19                  22            12                  7            5
2017-05-20                  20            14                  6            3
2017-05-21                  24            19                  5            3
2017-05-22                  38            19                  7            7
2017-05-23                  34            14                  5            4
2017-05-24                  18             9                  4            3
2017-05-25                  16             9                  3            3
2017-05-26                  19            25                  3            3
2017-05-27                  19            16                  3            2
2017-05-28                  22            14                  4            3
2017-05-29                  33            22                  4            4
2017-05-30                  35            35                  4            6
2017-05-31                  39            33                 11           10
2017-06-01                  37            28                 11            6
2017-06-02                  42            34                  9            5
2017-06-03                  39            28                  6            3
2017-06-04                  66            30                  6            5
2017-06-05                  48            32                 10            6
2017-06-06                  49            34                 11            7
2017-06-07                  76            52                 17           10

In [132]:
def retrieve_google_trends(start_date='2017-04-18', end_date='2017-06-07', geo='UK'):
    if end_date == '':
        import datetime as dt
        end_date = str(dt.datetime.today())[:10]
    period = start_date + ' ' + end_date
    pytrend = TrendReq('gmail', 'password', custom_useragent='My Pytrends Script')
    pytrend.build_payload(kw_list=['conservatives+conservative party+tories+theresa may', 'labour party+jeremy corbyn', 'nicola sturgeon+scottish national party+snp','Paul Nuttall+UK Independence Party+UKIP'] ,timeframe=period)
    # 'labour party', 'jeremy corbyn', 'nicola sturgeon', 'scottish national party', 'snp', 'tim farron', 'liberal democrats', 'lib dems', 'lib dem', 'Caroline Lucas', 'Jonathan Bartley', 'Green Party', 'Paul Nuttall', 'UK Independence Party', 'UKIP'
    return pytrend.interest_over_time()

In [133]:
data1 = retrieve_google_trends()

In [134]:
data1

,conservatives+conservative party+tories+theresa may,labour party+jeremy corbyn,nicola sturgeon+scottish national party+snp,Paul Nuttall+UK Independence Party+UKIP
date,,,,
2017-04-18,100,19,12,5
2017-04-19,42,14,10,3
2017-04-20,23,18,8,3
2017-04-21,17,13,6,2
2017-04-22,14,10,6,3
2017-04-23,14,14,5,5
2017-04-24,13,11,7,6
2017-04-25,13,8,6,3
2017-04-26,15,9,6,2
2017-04-27,14,10,5,2
2017-04-28,11,6,6,3
2017-04-29,11,8,5,5
2017-04-30,20,7,5,2
2017-05-01,20,7,5,2
2017-05-02,19,7,5,2
2017-05-03,24,7,6,2
2017-05-04,19,8,7,3
2017-05-05,21,11,12,12
2017-05-06,14,8,8,4
2017-05-07,13,7,5,3
2017-05-08,15,9,6,2
2017-05-09,26,15,5,2
2017-05-10,22,11,5,2
2017-05-11,16,12,5,4
2017-05-12,18,14,5,2
2017-05-13,13,9,4,2
2017-05-14,12,10,5,2
2017-05-15,22,16,6,2
2017-05-16,17,22,5,2
2017-05-17,16,12,6,2
2017-05-18,27,12,7,5
2017-05-19,22,12,6,4
2017-05-20,20,14,4,3
2017-05-21,24,19,5,2
2017-05-22,38,19,7,3
2017-05-23,33,14,6,3
2017-05-24,18,9,5,3
2017-05-25,16,8,5,8
2017-05-26,19,25,5,4
2017-05-27,18,15,4,3
2017-05-28,22,15,6,2
2017-05-29,33,23,6,3
2017-05-30,35,34,9,3
2017-05-31,39,33,8,6
2017-06-01,36,28,7,5
2017-06-02,41,34,7,4
2017-06-03,39,28,6,3
2017-06-04,65,30,5,7
2017-06-05,48,31,8,5
2017-06-06,47,34,9,7
2017-06-07,76,53,11,11

In [135]:
clsu = DataFrame(data1)

In [136]:
clsu

,conservatives+conservative party+tories+theresa may,labour party+jeremy corbyn,nicola sturgeon+scottish national party+snp,Paul Nuttall+UK Independence Party+UKIP
date,,,,
2017-04-18,100,19,12,5
2017-04-19,42,14,10,3
2017-04-20,23,18,8,3
2017-04-21,17,13,6,2
2017-04-22,14,10,6,3
2017-04-23,14,14,5,5
2017-04-24,13,11,7,6
2017-04-25,13,8,6,3
2017-04-26,15,9,6,2
2017-04-27,14,10,5,2
2017-04-28,11,6,6,3
2017-04-29,11,8,5,5
2017-04-30,20,7,5,2
2017-05-01,20,7,5,2
2017-05-02,19,7,5,2
2017-05-03,24,7,6,2
2017-05-04,19,8,7,3
2017-05-05,21,11,12,12
2017-05-06,14,8,8,4
2017-05-07,13,7,5,3
2017-05-08,15,9,6,2
2017-05-09,26,15,5,2
2017-05-10,22,11,5,2
2017-05-11,16,12,5,4
2017-05-12,18,14,5,2
2017-05-13,13,9,4,2
2017-05-14,12,10,5,2
2017-05-15,22,16,6,2
2017-05-16,17,22,5,2
2017-05-17,16,12,6,2
2017-05-18,27,12,7,5
2017-05-19,22,12,6,4
2017-05-20,20,14,4,3
2017-05-21,24,19,5,2
2017-05-22,38,19,7,3
2017-05-23,33,14,6,3
2017-05-24,18,9,5,3
2017-05-25,16,8,5,8
2017-05-26,19,25,5,4
2017-05-27,18,15,4,3
2017-05-28,22,15,6,2
2017-05-29,33,23,6,3
2017-05-30,35,34,9,3
2017-05-31,39,33,8,6
2017-06-01,36,28,7,5
2017-06-02,41,34,7,4
2017-06-03,39,28,6,3
2017-06-04,65,30,5,7
2017-06-05,48,31,8,5
2017-06-06,47,34,9,7
2017-06-07,76,53,11,11

In [137]:
clsu.columns = ['Conservative Party 1', 'Labour Party 1', 'Scottish National Party', 'UK Independence Party']

In [138]:
clsu

,Conservative Party 1,Labour Party 1,Scottish National Party,UK Independence Party
date,,,,
2017-04-18,100,19,12,5
2017-04-19,42,14,10,3
2017-04-20,23,18,8,3
2017-04-21,17,13,6,2
2017-04-22,14,10,6,3
2017-04-23,14,14,5,5
2017-04-24,13,11,7,6
2017-04-25,13,8,6,3
2017-04-26,15,9,6,2
2017-04-27,14,10,5,2
2017-04-28,11,6,6,3
2017-04-29,11,8,5,5
2017-04-30,20,7,5,2
2017-05-01,20,7,5,2
2017-05-02,19,7,5,2
2017-05-03,24,7,6,2
2017-05-04,19,8,7,3
2017-05-05,21,11,12,12
2017-05-06,14,8,8,4
2017-05-07,13,7,5,3
2017-05-08,15,9,6,2
2017-05-09,26,15,5,2
2017-05-10,22,11,5,2
2017-05-11,16,12,5,4
2017-05-12,18,14,5,2
2017-05-13,13,9,4,2
2017-05-14,12,10,5,2
2017-05-15,22,16,6,2
2017-05-16,17,22,5,2
2017-05-17,16,12,6,2
2017-05-18,27,12,7,5
2017-05-19,22,12,6,4
2017-05-20,20,14,4,3
2017-05-21,24,19,5,2
2017-05-22,38,19,7,3
2017-05-23,33,14,6,3
2017-05-24,18,9,5,3
2017-05-25,16,8,5,8
2017-05-26,19,25,5,4
2017-05-27,18,15,4,3
2017-05-28,22,15,6,2
2017-05-29,33,23,6,3
2017-05-30,35,34,9,3
2017-05-31,39,33,8,6
2017-06-01,36,28,7,5
2017-06-02,41,34,7,4
2017-06-03,39,28,6,3
2017-06-04,65,30,5,7
2017-06-05,48,31,8,5
2017-06-06,47,34,9,7
2017-06-07,76,53,11,11

In [139]:
frames = [clsld, clsu]
result = pd.concat(frames, axis=1)

In [140]:
result

,Conservative Party,Labour Party,Liberal Democrats,Green Party,Conservative Party 1,Labour Party 1,Scottish National Party,UK Independence Party
date,,,,,,,,
2017-04-18,100,19,22,6,100,19,12,5
2017-04-19,42,15,18,4,42,14,10,3
2017-04-20,23,19,10,5,23,18,8,3
2017-04-21,17,13,8,4,17,13,6,2
2017-04-22,15,10,6,3,14,10,6,3
2017-04-23,14,15,8,3,14,14,5,5
2017-04-24,13,11,8,4,13,11,7,6
2017-04-25,13,8,8,4,13,8,6,3
2017-04-26,15,10,6,4,15,9,6,2
2017-04-27,14,10,4,5,14,10,5,2
2017-04-28,11,6,4,3,11,6,6,3
2017-04-29,11,8,4,3,11,8,5,5
2017-04-30,20,6,5,4,20,7,5,2
2017-05-01,20,7,3,4,20,7,5,2
2017-05-02,19,7,4,5,19,7,5,2
2017-05-03,24,7,7,5,24,7,6,2
2017-05-04,19,8,7,6,19,8,7,3
2017-05-05,21,11,6,6,21,11,12,12
2017-05-06,14,8,4,3,14,8,8,4
2017-05-07,13,7,3,3,13,7,5,3
2017-05-08,16,8,7,4,15,9,6,2
2017-05-09,27,16,4,6,26,15,5,2
2017-05-10,22,11,5,8,22,11,5,2
2017-05-11,16,12,4,5,16,12,5,4
2017-05-12,18,15,7,4,18,14,5,2
2017-05-13,14,10,4,3,13,9,4,2
2017-05-14,12,9,4,3,12,10,5,2
2017-05-15,22,16,4,3,22,16,6,2
2017-05-16,16,22,6,3,17,22,5,2
2017-05-17,16,12,14,4,16,12,6,2
2017-05-18,27,12,10,8,27,12,7,5
2017-05-19,22,12,7,5,22,12,6,4
2017-05-20,20,14,6,3,20,14,4,3
2017-05-21,24,19,5,3,24,19,5,2
2017-05-22,38,19,7,7,38,19,7,3
2017-05-23,34,14,5,4,33,14,6,3
2017-05-24,18,9,4,3,18,9,5,3
2017-05-25,16,9,3,3,16,8,5,8
2017-05-26,19,25,3,3,19,25,5,4
2017-05-27,19,16,3,2,18,15,4,3
2017-05-28,22,14,4,3,22,15,6,2
2017-05-29,33,22,4,4,33,23,6,3
2017-05-30,35,35,4,6,35,34,9,3
2017-05-31,39,33,11,10,39,33,8,6
2017-06-01,37,28,11,6,36,28,7,5
2017-06-02,42,34,9,5,41,34,7,4
2017-06-03,39,28,6,3,39,28,6,3
2017-06-04,66,30,6,5,65,30,5,7
2017-06-05,48,32,10,6,48,31,8,5
2017-06-06,49,34,11,7,47,34,9,7
2017-06-07,76,52,17,10,76,53,11,11

In [141]:
parties = result.drop(['Conservative Party 1', 'Labour Party 1'], axis=1)

In [142]:
parties.reset_index(inplace=True)

In [143]:
parties

,date,Conservative Party,Labour Party,Liberal Democrats,Green Party,Scottish National Party,UK Independence Party
0,2017-04-18,100,19,22,6,12,5
1,2017-04-19,42,15,18,4,10,3
2,2017-04-20,23,19,10,5,8,3
3,2017-04-21,17,13,8,4,6,2
4,2017-04-22,15,10,6,3,6,3
5,2017-04-23,14,15,8,3,5,5
6,2017-04-24,13,11,8,4,7,6
7,2017-04-25,13,8,8,4,6,3
8,2017-04-26,15,10,6,4,6,2
9,2017-04-27,14,10,4,5,5,2
10,2017-04-28,11,6,4,3,6,3
11,2017-04-29,11,8,4,3,5,5
12,2017-04-30,20,6,5,4,5,2
13,2017-05-01,20,7,3,4,5,2
14,2017-05-02,19,7,4,5,5,2
15,2017-05-03,24,7,7,5,6,2
16,2017-05-04,19,8,7,6,7,3
17,2017-05-05,21,11,6,6,12,12
18,2017-05-06,14,8,4,3,8,4
19,2017-05-07,13,7,3,3,5,3
20,2017-05-08,16,8,7,4,6,2
21,2017-05-09,27,16,4,6,5,2
22,2017-05-10,22,11,5,8,5,2
23,2017-05-11,16,12,4,5,5,4
24,2017-05-12,18,15,7,4,5,2
25,2017-05-13,14,10,4,3,4,2
26,2017-05-14,12,9,4,3,5,2
27,2017-05-15,22,16,4,3,6,2
28,2017-05-16,16,22,6,3,5,2
29,2017-05-17,16,12,14,4,6,2
30,2017-05-18,27,12,10,8,7,5
31,2017-05-19,22,12,7,5,6,4
32,2017-05-20,20,14,6,3,4,3
33,2017-05-21,24,19,5,3,5,2
34,2017-05-22,38,19,7,7,7,3
35,2017-05-23,34,14,5,4,6,3
36,2017-05-24,18,9,4,3,5,3
37,2017-05-25,16,9,3,3,5,8
38,2017-05-26,19,25,3,3,5,4
39,2017-05-27,19,16,3,2,4,3
40,2017-05-28,22,14,4,3,6,2
41,2017-05-29,33,22,4,4,6,3
42,2017-05-30,35,35,4,6,9,3
43,2017-05-31,39,33,11,10,8,6
44,2017-06-01,37,28,11,6,7,5
45,2017-06-02,42,34,9,5,7,4
46,2017-06-03,39,28,6,3,6,3
47,2017-06-04,66,30,6,5,5,7
48,2017-06-05,48,32,10,6,8,5
49,2017-06-06,49,34,11,7,9,7
50,2017-06-07,76,52,17,10,11,11

In [144]:
fparties = parties[parties.date > '2017-04-18']

In [145]:
fparties

,date,Conservative Party,Labour Party,Liberal Democrats,Green Party,Scottish National Party,UK Independence Party
1,2017-04-19,42,15,18,4,10,3
2,2017-04-20,23,19,10,5,8,3
3,2017-04-21,17,13,8,4,6,2
4,2017-04-22,15,10,6,3,6,3
5,2017-04-23,14,15,8,3,5,5
6,2017-04-24,13,11,8,4,7,6
7,2017-04-25,13,8,8,4,6,3
8,2017-04-26,15,10,6,4,6,2
9,2017-04-27,14,10,4,5,5,2
10,2017-04-28,11,6,4,3,6,3
11,2017-04-29,11,8,4,3,5,5
12,2017-04-30,20,6,5,4,5,2
13,2017-05-01,20,7,3,4,5,2
14,2017-05-02,19,7,4,5,5,2
15,2017-05-03,24,7,7,5,6,2
16,2017-05-04,19,8,7,6,7,3
17,2017-05-05,21,11,6,6,12,12
18,2017-05-06,14,8,4,3,8,4
19,2017-05-07,13,7,3,3,5,3
20,2017-05-08,16,8,7,4,6,2
21,2017-05-09,27,16,4,6,5,2
22,2017-05-10,22,11,5,8,5,2
23,2017-05-11,16,12,4,5,5,4
24,2017-05-12,18,15,7,4,5,2
25,2017-05-13,14,10,4,3,4,2
26,2017-05-14,12,9,4,3,5,2
27,2017-05-15,22,16,4,3,6,2
28,2017-05-16,16,22,6,3,5,2
29,2017-05-17,16,12,14,4,6,2
30,2017-05-18,27,12,10,8,7,5
31,2017-05-19,22,12,7,5,6,4
32,2017-05-20,20,14,6,3,4,3
33,2017-05-21,24,19,5,3,5,2
34,2017-05-22,38,19,7,7,7,3
35,2017-05-23,34,14,5,4,6,3
36,2017-05-24,18,9,4,3,5,3
37,2017-05-25,16,9,3,3,5,8
38,2017-05-26,19,25,3,3,5,4
39,2017-05-27,19,16,3,2,4,3
40,2017-05-28,22,14,4,3,6,2
41,2017-05-29,33,22,4,4,6,3
42,2017-05-30,35,35,4,6,9,3
43,2017-05-31,39,33,11,10,8,6
44,2017-06-01,37,28,11,6,7,5
45,2017-06-02,42,34,9,5,7,4
46,2017-06-03,39,28,6,3,6,3
47,2017-06-04,66,30,6,5,5,7
48,2017-06-05,48,32,10,6,8,5
49,2017-06-06,49,34,11,7,9,7
50,2017-06-07,76,52,17,10,11,11

In [146]:
special1 = pd.read_csv("C:\Users\Student\Desktop\Google trends csvs\MajorEvents.csv")

In [147]:
special1

          Date                                              Event
0   2017-04-28                              UKIP Manifesto Launch
1   2017-04-29       Labour Promises 10,000 Extra Police Officers
2   2017-04-30  Diane Abbott makes error on cost of 10,000 ext...
3   2017-05-01                                                NaN
4   2017-05-02                        UK votes in local elections
5   2017-05-03  Conservatives take over 100 seats from labour ...
6   2017-05-04                                                NaN
7   2017-05-05  Results from local elections - Conservative Pa...
8   2017-05-06                                                NaN
9   2017-05-07                                                NaN
10  2017-05-08                                                NaN
11  2017-05-09                    Labour's draft manifesto leaked
12  2017-05-10                                NHS website hacking
13  2017-05-11                                                NaN
14  2017-05-12                                                NaN
15  2017-05-13                                                NaN
16  2017-05-14                            Labour Manifesto Launch
17  2017-05-15  Labour pledges an exrtra $37bn on NHS in Engla...
18  2017-05-16                  Liberal Democrat Manifesto Launch
19  2017-05-17   ITV Leader's debate (LibDem, Green, UKIP, Pla...
20  2017-05-18                      Conservative Manifesto Launch
21  2017-05-19                                                NaN
22  2017-05-20                                                NaN
23  2017-05-21                                                NaN
24  2017-05-22  Green Party Maifesto Launch, Theresa May U-Tur...
25  2017-05-23                        Manchester terrorist attack
26  2017-05-24                                                NaN
27  2017-05-25                                                NaN
28  2017-05-26                                                NaN
29  2017-05-27                                                NaN
30  2017-05-28                                                NaN
31  2017-05-29                                                NaN
32  2017-05-30                                                NaN
33  2017-05-31  Jeremy Corbyn and Theresa May live questions a...
34  2017-06-01                                                NaN
35  2017-06-02      Live Election debate-No show from Theresa May
36  2017-06-03                                                NaN
37  2017-06-04                                                NaN
38  2017-06-05                                                NaN

In [148]:
special = special1[special1.Date < '2017-06-01']

In [149]:
special

          Date                                              Event
0   2017-04-28                              UKIP Manifesto Launch
1   2017-04-29       Labour Promises 10,000 Extra Police Officers
2   2017-04-30  Diane Abbott makes error on cost of 10,000 ext...
3   2017-05-01                                                NaN
4   2017-05-02                        UK votes in local elections
5   2017-05-03  Conservatives take over 100 seats from labour ...
6   2017-05-04                                                NaN
7   2017-05-05  Results from local elections - Conservative Pa...
8   2017-05-06                                                NaN
9   2017-05-07                                                NaN
10  2017-05-08                                                NaN
11  2017-05-09                    Labour's draft manifesto leaked
12  2017-05-10                                NHS website hacking
13  2017-05-11                                                NaN
14  2017-05-12                                                NaN
15  2017-05-13                                                NaN
16  2017-05-14                            Labour Manifesto Launch
17  2017-05-15  Labour pledges an exrtra $37bn on NHS in Engla...
18  2017-05-16                  Liberal Democrat Manifesto Launch
19  2017-05-17   ITV Leader's debate (LibDem, Green, UKIP, Pla...
20  2017-05-18                      Conservative Manifesto Launch
21  2017-05-19                                                NaN
22  2017-05-20                                                NaN
23  2017-05-21                                                NaN
24  2017-05-22  Green Party Maifesto Launch, Theresa May U-Tur...
25  2017-05-23                        Manchester terrorist attack
26  2017-05-24                                                NaN
27  2017-05-25                                                NaN
28  2017-05-26                                                NaN
29  2017-05-27                                                NaN
30  2017-05-28                                                NaN
31  2017-05-29                                                NaN
32  2017-05-30                                                NaN
33  2017-05-31  Jeremy Corbyn and Theresa May live questions a...

In [150]:
special.columns = ['date', 'event']

In [151]:
special

          date                                              event
0   2017-04-28                              UKIP Manifesto Launch
1   2017-04-29       Labour Promises 10,000 Extra Police Officers
2   2017-04-30  Diane Abbott makes error on cost of 10,000 ext...
3   2017-05-01                                                NaN
4   2017-05-02                        UK votes in local elections
5   2017-05-03  Conservatives take over 100 seats from labour ...
6   2017-05-04                                                NaN
7   2017-05-05  Results from local elections - Conservative Pa...
8   2017-05-06                                                NaN
9   2017-05-07                                                NaN
10  2017-05-08                                                NaN
11  2017-05-09                    Labour's draft manifesto leaked
12  2017-05-10                                NHS website hacking
13  2017-05-11                                                NaN
14  2017-05-12                                                NaN
15  2017-05-13                                                NaN
16  2017-05-14                            Labour Manifesto Launch
17  2017-05-15  Labour pledges an exrtra $37bn on NHS in Engla...
18  2017-05-16                  Liberal Democrat Manifesto Launch
19  2017-05-17   ITV Leader's debate (LibDem, Green, UKIP, Pla...
20  2017-05-18                      Conservative Manifesto Launch
21  2017-05-19                                                NaN
22  2017-05-20                                                NaN
23  2017-05-21                                                NaN
24  2017-05-22  Green Party Maifesto Launch, Theresa May U-Tur...
25  2017-05-23                        Manchester terrorist attack
26  2017-05-24                                                NaN
27  2017-05-25                                                NaN
28  2017-05-26                                                NaN
29  2017-05-27                                                NaN
30  2017-05-28                                                NaN
31  2017-05-29                                                NaN
32  2017-05-30                                                NaN
33  2017-05-31  Jeremy Corbyn and Theresa May live questions a...

In [152]:
joined = fparties.merge(special, how='left', on='date')

In [153]:
fparties.dtypes

date                       datetime64[ns]
Conservative Party                  int32
Labour Party                        int32
Liberal Democrats                   int32
Green Party                         int32
Scottish National Party             int32
UK Independence Party               int32
dtype: object

In [154]:
special.date = pd.to_datetime(special.date)

In [155]:
special.dtypes

date     datetime64[ns]
event            object
dtype: object

In [156]:
joined

,date,Conservative Party,Labour Party,Liberal Democrats,Green Party,Scottish National Party,UK Independence Party,event
0,2017-04-19,42,15,18,4,10,3,NaN
1,2017-04-20,23,19,10,5,8,3,NaN
2,2017-04-21,17,13,8,4,6,2,NaN
3,2017-04-22,15,10,6,3,6,3,NaN
4,2017-04-23,14,15,8,3,5,5,NaN
5,2017-04-24,13,11,8,4,7,6,NaN
6,2017-04-25,13,8,8,4,6,3,NaN
7,2017-04-26,15,10,6,4,6,2,NaN
8,2017-04-27,14,10,4,5,5,2,NaN
9,2017-04-28,11,6,4,3,6,3,NaN
10,2017-04-29,11,8,4,3,5,5,NaN
11,2017-04-30,20,6,5,4,5,2,NaN
12,2017-05-01,20,7,3,4,5,2,NaN
13,2017-05-02,19,7,4,5,5,2,NaN
14,2017-05-03,24,7,7,5,6,2,NaN
15,2017-05-04,19,8,7,6,7,3,NaN
16,2017-05-05,21,11,6,6,12,12,NaN
17,2017-05-06,14,8,4,3,8,4,NaN
18,2017-05-07,13,7,3,3,5,3,NaN
19,2017-05-08,16,8,7,4,6,2,NaN
20,2017-05-09,27,16,4,6,5,2,NaN
21,2017-05-10,22,11,5,8,5,2,NaN
22,2017-05-11,16,12,4,5,5,4,NaN
23,2017-05-12,18,15,7,4,5,2,NaN
24,2017-05-13,14,10,4,3,4,2,NaN
25,2017-05-14,12,9,4,3,5,2,NaN
26,2017-05-15,22,16,4,3,6,2,NaN
27,2017-05-16,16,22,6,3,5,2,NaN
28,2017-05-17,16,12,14,4,6,2,NaN
29,2017-05-18,27,12,10,8,7,5,NaN
30,2017-05-19,22,12,7,5,6,4,NaN
31,2017-05-20,20,14,6,3,4,3,NaN
32,2017-05-21,24,19,5,3,5,2,NaN
33,2017-05-22,38,19,7,7,7,3,NaN
34,2017-05-23,34,14,5,4,6,3,NaN
35,2017-05-24,18,9,4,3,5,3,NaN
36,2017-05-25,16,9,3,3,5,8,NaN
37,2017-05-26,19,25,3,3,5,4,NaN
38,2017-05-27,19,16,3,2,4,3,NaN
39,2017-05-28,22,14,4,3,6,2,NaN
40,2017-05-29,33,22,4,4,6,3,NaN
41,2017-05-30,35,35,4,6,9,3,NaN
42,2017-05-31,39,33,11,10,8,6,NaN
43,2017-06-01,37,28,11,6,7,5,NaN
44,2017-06-02,42,34,9,5,7,4,NaN
45,2017-06-03,39,28,6,3,6,3,NaN
46,2017-06-04,66,30,6,5,5,7,NaN
47,2017-06-05,48,32,10,6,8,5,NaN
48,2017-06-06,49,34,11,7,9,7,NaN
49,2017-06-07,76,52,17,10,11,11,NaN

In [157]:
# 2017-04-28 2017-04-29 2017-04-30 2017-05-02
events = special.dropna().set_index('date').T.to_dict('records')

In [158]:
events[0].items()

[(Timestamp('2017-05-17 00:00:00'),
  " ITV Leader's debate (LibDem, Green, UKIP, Plaid, SNP)"),
 (Timestamp('2017-05-03 00:00:00'),
  'Conservatives take over 100 seats from labour and UKIP in local elections'),
 (Timestamp('2017-04-29 00:00:00'),
  'Labour Promises 10,000 Extra Police Officers'),
 (Timestamp('2017-05-16 00:00:00'), 'Liberal Democrat Manifesto Launch'),
 (Timestamp('2017-05-02 00:00:00'), 'UK votes in local elections'),
 (Timestamp('2017-04-30 00:00:00'),
  'Diane Abbott makes error on cost of 10,000 extra police officers'),
 (Timestamp('2017-05-15 00:00:00'),
  'Labour pledges an exrtra $37bn on NHS in England over 5 years'),
 (Timestamp('2017-05-10 00:00:00'), 'NHS website hacking'),
 (Timestamp('2017-05-05 00:00:00'),
  'Results from local elections - Conservative Party leading, collapse in the UKIP vote and poor results for Labour'),
 (Timestamp('2017-05-31 00:00:00'),
  'Jeremy Corbyn and Theresa May live questions and interview'),
 (Timestamp('2017-05-23 00:00:00'), 'Manchester terrorist attack'),
 (Timestamp('2017-05-14 00:00:00'), 'Labour Manifesto Launch'),
 (Timestamp('2017-05-09 00:00:00'), "Labour's draft manifesto leaked"),
 (Timestamp('2017-05-18 00:00:00'), 'Conservative Manifesto Launch'),
 (Timestamp('2017-04-28 00:00:00'), 'UKIP Manifesto Launch'),
 (Timestamp('2017-05-22 00:00:00'),
  'Green Party Maifesto Launch, Theresa May U-Turn on Social Care')]

In [159]:
import plotly.plotly as py
import plotly
import plotly.graph_objs as go
from plotly.graph_objs import *
import cufflinks as cf

In [160]:
p = [o for o in joined.columns if o <> 'date']

In [161]:
p = [o for o in fparties.columns if o <> 'date']

In [162]:
p

['Conservative Party',
 'Labour Party',
 'Liberal Democrats',
 'Green Party',
 'Scottish National Party',
 'UK Independence Party']

In [163]:
pc = {'Conservative Party': "('rgb(0,135,220)')",
    'Labour Party': "('rgb(146,0,13)')",
    'Liberal Democrats': "('rgb(250,166,26)')",
    'Green Party': "('rgb(0,116,95)')",
    'Scottish National Party': "('rgb(255,249,93)')",
    'UK Independence Party': "('rgb(183,0,157)')",
    'event': "('rgb(0,0,0)')" }

In [164]:
fig = {
    'data': [
        { 'x': joined.date,
         'y': joined[pp],
         'name':pp,
         'mode': 'lines',
         'line': {
             'color': pc [pp]
         }
         } for pp in p
    ]
}

fig1 = {
    'data': [
        { 'x': joined.date,
         'y': joined.event,
         'mode': 'lines'
         }
    ]
}
# Create traces
trace0 = go.Scatter(
    x = joined.date,
    y = joined.event,
    mode = 'markers',
    name = 'markers')

In [165]:
special[special.event == 'UK votes in local elections'].date

4   2017-05-02
Name: date, dtype: datetime64[ns]

In [166]:
fig = {
    'data': [
        { 'x': fparties.date,
         'y': fparties[pp],
         'name':pp,
         'mode': 'lines',
         'line': {
             'color': pc [pp]
         }
         } for pp in p
    ]
}

In [167]:
plotly.tools.set_credentials_file(username='mazajac1', api_key='UZMWYyjY1XoPrf20rzdV')

In [168]:
from datetime import datetime
import cufflinks as cf

In [169]:
2+2

4

In [170]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

print __version__

2.0.8

In [171]:
init_notebook_mode(connected=True)

In [172]:
events

[{Timestamp('2017-04-28 00:00:00'): 'UKIP Manifesto Launch',
  Timestamp('2017-04-29 00:00:00'): 'Labour Promises 10,000 Extra Police Officers',
  Timestamp('2017-04-30 00:00:00'): 'Diane Abbott makes error on cost of 10,000 extra police officers',
  Timestamp('2017-05-02 00:00:00'): 'UK votes in local elections',
  Timestamp('2017-05-03 00:00:00'): 'Conservatives take over 100 seats from labour and UKIP in local elections',
  Timestamp('2017-05-05 00:00:00'): 'Results from local elections - Conservative Party leading, collapse in the UKIP vote and poor results for Labour',
  Timestamp('2017-05-09 00:00:00'): "Labour's draft manifesto leaked",
  Timestamp('2017-05-10 00:00:00'): 'NHS website hacking',
  Timestamp('2017-05-14 00:00:00'): 'Labour Manifesto Launch',
  Timestamp('2017-05-15 00:00:00'): 'Labour pledges an exrtra $37bn on NHS in England over 5 years',
  Timestamp('2017-05-16 00:00:00'): 'Liberal Democrat Manifesto Launch',
  Timestamp('2017-05-17 00:00:00'): " ITV Leader's debate (LibDem, Green, UKIP, Plaid, SNP)",
  Timestamp('2017-05-18 00:00:00'): 'Conservative Manifesto Launch',
  Timestamp('2017-05-22 00:00:00'): 'Green Party Maifesto Launch, Theresa May U-Turn on Social Care',
  Timestamp('2017-05-23 00:00:00'): 'Manchester terrorist attack',
  Timestamp('2017-05-31 00:00:00'): 'Jeremy Corbyn and Theresa May live questions and interview'}]

In [173]:
events

[{Timestamp('2017-04-28 00:00:00'): 'UKIP Manifesto Launch',
  Timestamp('2017-04-29 00:00:00'): 'Labour Promises 10,000 Extra Police Officers',
  Timestamp('2017-04-30 00:00:00'): 'Diane Abbott makes error on cost of 10,000 extra police officers',
  Timestamp('2017-05-02 00:00:00'): 'UK votes in local elections',
  Timestamp('2017-05-03 00:00:00'): 'Conservatives take over 100 seats from labour and UKIP in local elections',
  Timestamp('2017-05-05 00:00:00'): 'Results from local elections - Conservative Party leading, collapse in the UKIP vote and poor results for Labour',
  Timestamp('2017-05-09 00:00:00'): "Labour's draft manifesto leaked",
  Timestamp('2017-05-10 00:00:00'): 'NHS website hacking',
  Timestamp('2017-05-14 00:00:00'): 'Labour Manifesto Launch',
  Timestamp('2017-05-15 00:00:00'): 'Labour pledges an exrtra $37bn on NHS in England over 5 years',
  Timestamp('2017-05-16 00:00:00'): 'Liberal Democrat Manifesto Launch',
  Timestamp('2017-05-17 00:00:00'): " ITV Leader's debate (LibDem, Green, UKIP, Plaid, SNP)",
  Timestamp('2017-05-18 00:00:00'): 'Conservative Manifesto Launch',
  Timestamp('2017-05-22 00:00:00'): 'Green Party Maifesto Launch, Theresa May U-Turn on Social Care',
  Timestamp('2017-05-23 00:00:00'): 'Manchester terrorist attack',
  Timestamp('2017-05-31 00:00:00'): 'Jeremy Corbyn and Theresa May live questions and interview'}]

In [174]:
events[0].items()

[(Timestamp('2017-05-17 00:00:00'),
  " ITV Leader's debate (LibDem, Green, UKIP, Plaid, SNP)"),
 (Timestamp('2017-05-03 00:00:00'),
  'Conservatives take over 100 seats from labour and UKIP in local elections'),
 (Timestamp('2017-04-29 00:00:00'),
  'Labour Promises 10,000 Extra Police Officers'),
 (Timestamp('2017-05-16 00:00:00'), 'Liberal Democrat Manifesto Launch'),
 (Timestamp('2017-05-02 00:00:00'), 'UK votes in local elections'),
 (Timestamp('2017-04-30 00:00:00'),
  'Diane Abbott makes error on cost of 10,000 extra police officers'),
 (Timestamp('2017-05-15 00:00:00'),
  'Labour pledges an exrtra $37bn on NHS in England over 5 years'),
 (Timestamp('2017-05-10 00:00:00'), 'NHS website hacking'),
 (Timestamp('2017-05-05 00:00:00'),
  'Results from local elections - Conservative Party leading, collapse in the UKIP vote and poor results for Labour'),
 (Timestamp('2017-05-31 00:00:00'),
  'Jeremy Corbyn and Theresa May live questions and interview'),
 (Timestamp('2017-05-23 00:00:00'), 'Manchester terrorist attack'),
 (Timestamp('2017-05-14 00:00:00'), 'Labour Manifesto Launch'),
 (Timestamp('2017-05-09 00:00:00'), "Labour's draft manifesto leaked"),
 (Timestamp('2017-05-18 00:00:00'), 'Conservative Manifesto Launch'),
 (Timestamp('2017-04-28 00:00:00'), 'UKIP Manifesto Launch'),
 (Timestamp('2017-05-22 00:00:00'),
  'Green Party Maifesto Launch, Theresa May U-Turn on Social Care')]

In [175]:
#trace0 = go.Scatter(
   # x = joined.date,
  #  y = joined.event,
   # mode = 'markers',
   # name = 'Events')

traceconall = go.Scatter(
    x = joined.date,
    y = joined['Conservative Party'],
    mode = 'lines',
    name = 'Conservatives (including MP)',
    marker = dict(
            color = '#0087DC'
                 )
)
tracelaball = go.Scatter(
    x = joined.date,
    y = joined['Labour Party'],
    fill='#d50000',
    mode = 'lines',
    name = 'Labour (including MP)',
    marker = dict(
            color = '#DC241f'
                 )
)
traceliball = go.Scatter(
    x = joined.date,
    y = joined['Liberal Democrats'],
    mode = 'lines',
    name = 'Lib Dems (including MP)',
    marker = dict(
            color = '#FDBB30'
                 )
)
tracegreall = go.Scatter(
    x = joined.date,
    y = joined['Green Party'],
    mode = 'lines',
    name = 'Green Party (including MP)',
    marker = dict(
            color = '#78b943'
                 )
)
tracesnpall = go.Scatter(
    x = joined.date,
    y = joined['Scottish National Party'],
    mode = 'lines',
    name = 'SNP (including MP)',
    marker = dict(
            color = '#FFFF00'
           )
)
traceukiall = go.Scatter(
    x = joined.date,
    y = joined['UK Independence Party'],
    mode = 'lines',
    name = 'UKIP (including MP)',
    marker = dict(
            color = '#70147A'
                 )
)
tracecon = go.Scatter(
    x = fparties2.date,
    y = fparties2['Conservative Party'],
    mode = 'lines',
    name = 'Conservatives',
    marker = dict(
            color = '#0087DC'
                 ),
    line = dict(
        dash = 'dot')
)
tracelab = go.Scatter(
    x = fparties2.date,
    y = fparties2['Labour Party'],
    fill='#d50000',
    mode = 'lines',
    name = 'Labour',
    marker = dict(
            color = '#DC241f'
                 ),
    line = dict(
        dash = 'dot')
)
tracelib = go.Scatter(
    x = fparties2.date,
    y = fparties2['Liberal Democrats'],
    mode = 'lines',
    name = 'Lib Dems',
    marker = dict(
            color = '#FDBB30'
                 ),
    line = dict(
        dash = 'dot')
)
tracegre = go.Scatter(
    x = fparties2.date,
    y = fparties2['Green Party'],
    mode = 'lines',
    name = 'Green Party',
    marker = dict(
            color = '#78b943'
                 ),
    line = dict(
        dash = 'dot')
)
tracesnp = go.Scatter(
    x = fparties2.date,
    y = fparties2['Scottish National Party'],
    mode = 'lines',
    name = 'SNP',
    marker = dict(
            color = '#FFFF00'
           ),
    line = dict(
        dash = 'dot')
)
traceuki = go.Scatter(
    x = fparties2.date,
    y = fparties2['UK Independence Party'],
    mode = 'lines',
    name = 'UKIP',
    marker = dict(
            color = '#70147A'
                 ),
    line = dict(
        dash = 'dot')
)
traceconmp = go.Scatter(
    x = fparties1.date,
    y = fparties1['Theresa May'],
    mode = 'lines',
    name = 'Theresa May',
    marker = dict(
            color = '#0087DC'
                 ),
    line = dict(
        dash = 'dashdot')

)
tracelabmp = go.Scatter(
    x = fparties1.date,
    y = fparties1['Jeremy Corbyn'],
    mode = 'lines',
    name = 'Jeremy Corbyn',
    marker = dict(
            color = '#DC241f'
                 ),
    line = dict(
        dash = 'dashdot')
)
tracelibmp = go.Scatter(
    x = fparties1.date,
    y = fparties1['Tim Farron'],
    mode = 'lines',
    name = 'Tim Farron',
    marker = dict(
            color = '#FDBB30'
                 ),
    line = dict(
        dash = 'dashdot')
)
tracegremp = go.Scatter(
    x = fparties1.date,
    y = fparties1['Caroline Lucas and Jonathan Bartley'],
    mode = 'lines',
    name = 'Caroline Lucas and Jonathan Bartley',
    marker = dict(
            color = '#78b943'
                 ),
    line = dict(
        dash = 'dashdot')
)
tracesnpmp = go.Scatter(
    x = fparties1.date,
    y = fparties1['Nicola Sturgeon'],
    mode = 'lines',
    name = 'Nicola Sturgeon',
    marker = dict(
            color = '#FFFF00'
           ),
    line = dict(
        dash = 'dashdot')
)
traceukimp = go.Scatter(
    x = fparties1.date,
    y = fparties1['Paul Nuttall'],
    mode = 'lines',
    name = 'Paul Nuttall',
    marker = dict(
            color = '#70147A'
                 ),
    line = dict(
        dash = 'dashdot')
)

tracenews = [go.Scatter(
    x=d, 
    y=40, 
    #type='scatter', 
    mode='markers',
    text=e,
    marker=dict(size=0.1),
    showlegend=False,
    hoverinfo ='text'
    )for d, e in events[0].items()]  

#tracenews = go.Scatter(dict(
#        x=d,
#        y=range(0,90),
#        mode='markers',
#        hoverinfo=e
#    ) for d, e in events[0].items() )
             
#news = [
#    go.Scatter(
#        x=d,
#        y=range(0,41),
#        mode='markers',
#        text=e 
#    ) for d, e in events[0].items()
#]

traceList = [traceconall, tracelaball, traceliball, tracegreall, tracesnpall, traceukiall, tracecon, tracelab, tracelib, tracegre, tracesnp, traceuki, traceconmp, tracelabmp, tracelibmp, tracegremp, tracesnpmp, traceukimp]
traceList.extend(tracenews)
data = Data(traceList)
layout = Layout(
    title='Relative Number of Google Searches',
    updatemenus=list([
        dict(
            x=-0.05,
            y=1,
            yanchor='top',
            buttons=list([
                dict(
                    args=['visible', [True]*34],
                    label='All searches',
                    method='restyle'
                ),
                dict(
                    args=['visible', [True]*6 + [False]*12 + [True]*16],
                    label='Parties & MPs',
                    method='restyle'
                ),
                dict(
                    args=['visible', [False]*6 + [True]*6 + [False]*6 + [True]*16],
                    label='Parties',
                    method='restyle'
                ),
                dict(
                    args=['visible', [False]*12 + [True]*22],
                    label='MPs',
                    method='restyle'
                )
            ]),
        )
    ])
#    shapes=list([
#        {
#            'type': 'line',
#            'x0': d,
#            'y0': 0,
#            'x1': d,
#            'y1': 86,
#            'line': {
#                'color': 'black',
#                'width': 1,
#                'dash': 'dot'
#            },
#        } for d, e in events[0].items() 
#   ])#,
    #
     #   annotations=[
     #   dict(
     #       x=d,
     #       y=90,
     #       xref='x',
     #       yref='y',
     #       text=e,
     #       textangle= -90,
     #       showarrow=False,
     #       
     #      # mode='markers'
     #      # ax=0,
     #      # ay=90
     #   ) for d, e in events[0].items() 
    
#   annotations = list([{
#            'text': e,
#            'textangle': -90
#} for d, e in events[0].items()
# # annotations=list([
# #       {
# #      'text': e,
# #      'textangle': -90
#  #  } for d, e in events[0].items()
#  # ]) 
#    
#   ])
)

fig = Figure(data=data, layout=layout)
py.iplot(fig)

#layout ={
#    'xaxis': {
#        'range': [datetime(2017,4,19), datetime(2017,5,21)]
#    },
#    'yaxis':{
#         'range': [0, 41]    
#    },
#    'shapes': [
#        {
#            'type': 'line',
#            'x0': d,
#            'y0': 0,
#            'x1': d,
#            'y1': 41,
#            'line': {
#                'color': 'grey',
#                'width': 1,
#                'dash': 'dot'
#            },
#        } for d, e in events[0].items() 
#   ],
#  'annotations': [
#        {
#       'text': e,
#       'textangle': -90
#    } for d, e in events[0].items()
#   ] 
#}

#data = [traceconall, tracelaball, traceliball, tracegreall, tracesnpall, traceukiall, tracecon, tracelab, tracelib, tracegre, tracesnp, traceuki, traceconmp, tracelabmp, tracelibmp, tracegremp, tracesnpmp, traceukimp]
#fig= {
 #   'data': data,
  #  'layout':layout,
#}


#trace0 = go.Scatter(
   # x = joined.date,
  #  y = joined.event,
   # mode = 'markers',
   # name = 'Events')

In [176]:
Data

plotly.graph_objs.graph_objs.Data

In [177]:
events[0].items()

[(Timestamp('2017-05-17 00:00:00'),
  " ITV Leader's debate (LibDem, Green, UKIP, Plaid, SNP)"),
 (Timestamp('2017-05-03 00:00:00'),
  'Conservatives take over 100 seats from labour and UKIP in local elections'),
 (Timestamp('2017-04-29 00:00:00'),
  'Labour Promises 10,000 Extra Police Officers'),
 (Timestamp('2017-05-16 00:00:00'), 'Liberal Democrat Manifesto Launch'),
 (Timestamp('2017-05-02 00:00:00'), 'UK votes in local elections'),
 (Timestamp('2017-04-30 00:00:00'),
  'Diane Abbott makes error on cost of 10,000 extra police officers'),
 (Timestamp('2017-05-15 00:00:00'),
  'Labour pledges an exrtra $37bn on NHS in England over 5 years'),
 (Timestamp('2017-05-10 00:00:00'), 'NHS website hacking'),
 (Timestamp('2017-05-05 00:00:00'),
  'Results from local elections - Conservative Party leading, collapse in the UKIP vote and poor results for Labour'),
 (Timestamp('2017-05-31 00:00:00'),
  'Jeremy Corbyn and Theresa May live questions and interview'),
 (Timestamp('2017-05-23 00:00:00'), 'Manchester terrorist attack'),
 (Timestamp('2017-05-14 00:00:00'), 'Labour Manifesto Launch'),
 (Timestamp('2017-05-09 00:00:00'), "Labour's draft manifesto leaked"),
 (Timestamp('2017-05-18 00:00:00'), 'Conservative Manifesto Launch'),
 (Timestamp('2017-04-28 00:00:00'), 'UKIP Manifesto Launch'),
 (Timestamp('2017-05-22 00:00:00'),
  'Green Party Maifesto Launch, Theresa May U-Turn on Social Care')]

In [178]:
def retrieve_google_trends(start_date='2017-04-18', end_date='2017-06-07', geo='UK'):
    if end_date == '':
        import datetime as dt
        end_date = str(dt.datetime.today())[:10]
    period = start_date + ' ' + end_date
    pytrend = TrendReq('gmail', 'password', custom_useragent='My Pytrends Script')
    pytrend.build_payload(kw_list=['theresa may', 'jeremy corbyn', 'tim farron', 'Caroline Lucas+Jonathan Bartley'] ,timeframe=period)
    # 'labour party', 'jeremy corbyn', 'nicola sturgeon', 'scottish national party', 'snp', 'tim farron', 'liberal democrats', 'lib dems', 'lib dem', 'Caroline Lucas', 'Jonathan Bartley', 'Green Party', 'Paul Nuttall', 'UK Independence Party', 'UKIP'
    return pytrend.interest_over_time()

In [179]:
data2 = retrieve_google_trends()

In [180]:
clsld1 = DataFrame(data2)

In [181]:
clsld1.columns = ['Theresa May', 'Jeremy Corbyn', 'Tim Farron', 'Caroline Lucas and Jonathan Bartley']

In [182]:
def retrieve_google_trends(start_date='2017-04-18', end_date='2017-06-07', geo='UK'):
    if end_date == '':
        import datetime as dt
        end_date = str(dt.datetime.today())[:10]
    period = start_date + ' ' + end_date
    pytrend = TrendReq('gmail', 'password', custom_useragent='My Pytrends Script')
    pytrend.build_payload(kw_list=['theresa may', 'jeremy corbyn', 'nicola sturgeon','Paul Nuttall'] ,timeframe=period)
    # 'labour party', 'jeremy corbyn', 'nicola sturgeon', 'scottish national party', 'snp', 'tim farron', 'liberal democrats', 'lib dems', 'lib dem', 'Caroline Lucas', 'Jonathan Bartley', 'Green Party', 'Paul Nuttall', 'UK Independence Party', 'UKIP'
    return pytrend.interest_over_time()

In [183]:
data3 = retrieve_google_trends()

In [184]:
clsu1 = DataFrame(data3)

In [185]:
clsu1

            theresa may  jeremy corbyn  nicola sturgeon  Paul Nuttall
date
2017-04-18          100             12                5             0
2017-04-19           36             10                4             0
2017-04-20           17             15                3             0
2017-04-21           12              9                2             0
2017-04-22           11              8                2             0
2017-04-23            9             12                1             1
2017-04-24            7              8                2             2
2017-04-25            8              5                1             0
2017-04-26           10              7                2             0
2017-04-27            8              8                1             0
2017-04-28            7              5                1             1
2017-04-29            8              6                2             2
2017-04-30           16              5                1             0
2017-05-01           16              4                1             0
2017-05-02           16              5                1             0
2017-05-03           20              4                1             0
2017-05-04           14              4                1             0
2017-05-05           11              7                2             1
2017-05-06            8              6                2             0
2017-05-07            8              5                1             0
2017-05-08           10              6                1             0
2017-05-09           20             12                1             0
2017-05-10           14              8                1             0
2017-05-11           11              9                1             1
2017-05-12           14             12                1             0
2017-05-13            9              7                1             0
2017-05-14            8              7                2             0
2017-05-15           17             13                2             0
2017-05-16           10             17                1             0
2017-05-17           10              8                2             0
2017-05-18           15              8                3             2
2017-05-19           13              9                2             1
2017-05-20           14             11                1             0
2017-05-21           16             16                2             0
2017-05-22           29             15                2             0
2017-05-23           29             12                1             0
2017-05-24           14              7                1             0
2017-05-25           12              6                1             1
2017-05-26           13             23                1             0
2017-05-27           11             15                1             0
2017-05-28           11             12                3             0
2017-05-29           27             21                2             1
2017-05-30           30             31                3             0
2017-05-31           31             31                2             3
2017-06-01           29             25                2             1
2017-06-02           34             31                2             1
2017-06-03           31             26                2             0
2017-06-04           60             26                2             1
2017-06-05           41             27                4             1
2017-06-06           36             27                3             1
2017-06-07           57             43                4             1

In [186]:
clsu1.columns = ['Theresa May 1', 'Jeremy Corbyn 1', 'Nicola Sturgeon', 'Paul Nuttall']

In [187]:
frames1 = [clsld1, clsu1]
result1 = pd.concat(frames1, axis=1)

In [188]:
result1

,Theresa May,Jeremy Corbyn,Tim Farron,Caroline Lucas and Jonathan Bartley,Theresa May 1,Jeremy Corbyn 1,Nicola Sturgeon,Paul Nuttall
date,,,,,,,,
2017-04-18,100,12,7,1,100,12,5,0
2017-04-19,36,10,10,0,36,10,4,0
2017-04-20,17,15,3,1,17,15,3,0
2017-04-21,12,9,2,0,12,9,2,0
2017-04-22,11,8,2,0,11,8,2,0
2017-04-23,9,12,3,0,9,12,1,1
2017-04-24,7,8,3,0,7,8,2,2
2017-04-25,8,5,4,0,8,5,1,0
2017-04-26,10,7,3,0,10,7,2,0
2017-04-27,8,8,1,0,8,8,1,0
2017-04-28,7,5,1,0,7,5,1,1
2017-04-29,8,6,1,0,8,6,2,2
2017-04-30,16,5,2,0,16,5,1,0
2017-05-01,16,4,1,0,16,4,1,0
2017-05-02,16,5,1,0,16,5,1,0
2017-05-03,20,4,3,0,20,4,1,0
2017-05-04,14,4,1,0,14,4,1,0
2017-05-05,11,7,1,0,11,7,2,1
2017-05-06,8,6,1,0,8,6,2,0
2017-05-07,8,5,1,0,8,5,1,0
2017-05-08,10,6,2,0,10,6,1,0
2017-05-09,20,12,1,0,20,12,1,0
2017-05-10,14,8,1,0,14,8,1,0
2017-05-11,11,9,1,0,11,9,1,1
2017-05-12,14,12,1,0,14,12,1,0
2017-05-13,9,7,1,0,9,7,1,0
2017-05-14,8,7,0,0,8,7,2,0
2017-05-15,17,13,1,0,17,13,2,0
2017-05-16,10,17,1,0,10,17,1,0
2017-05-17,10,8,3,0,10,8,2,0
2017-05-18,15,8,3,3,15,8,3,2
2017-05-19,13,9,1,1,13,9,2,1
2017-05-20,14,11,1,0,14,11,1,0
2017-05-21,16,16,1,0,16,16,2,0
2017-05-22,29,15,1,1,29,15,2,0
2017-05-23,29,12,2,0,29,12,1,0
2017-05-24,14,7,1,0,14,7,1,0
2017-05-25,12,6,1,0,12,6,1,1
2017-05-26,13,23,1,0,13,23,1,0
2017-05-27,11,15,1,0,11,15,1,0
2017-05-28,11,12,1,1,11,12,3,0
2017-05-29,27,21,1,0,27,21,2,1
2017-05-30,30,31,1,0,30,31,3,0
2017-05-31,31,31,6,4,31,31,2,3
2017-06-01,29,25,6,2,29,25,2,1
2017-06-02,34,31,4,1,34,31,2,1
2017-06-03,31,26,2,0,31,26,2,0
2017-06-04,60,26,2,1,60,26,2,1
2017-06-05,41,27,3,1,41,27,4,1
2017-06-06,36,27,3,1,36,27,3,1
2017-06-07,57,43,4,1,57,43,4,1

In [189]:
parties1 = result1.drop(['Theresa May 1', 'Jeremy Corbyn 1'], axis=1)

In [190]:
parties1

,Theresa May,Jeremy Corbyn,Tim Farron,Caroline Lucas and Jonathan Bartley,Nicola Sturgeon,Paul Nuttall
date,,,,,,
2017-04-18,100,12,7,1,5,0
2017-04-19,36,10,10,0,4,0
2017-04-20,17,15,3,1,3,0
2017-04-21,12,9,2,0,2,0
2017-04-22,11,8,2,0,2,0
2017-04-23,9,12,3,0,1,1
2017-04-24,7,8,3,0,2,2
2017-04-25,8,5,4,0,1,0
2017-04-26,10,7,3,0,2,0
2017-04-27,8,8,1,0,1,0
2017-04-28,7,5,1,0,1,1
2017-04-29,8,6,1,0,2,2
2017-04-30,16,5,2,0,1,0
2017-05-01,16,4,1,0,1,0
2017-05-02,16,5,1,0,1,0
2017-05-03,20,4,3,0,1,0
2017-05-04,14,4,1,0,1,0
2017-05-05,11,7,1,0,2,1
2017-05-06,8,6,1,0,2,0
2017-05-07,8,5,1,0,1,0
2017-05-08,10,6,2,0,1,0
2017-05-09,20,12,1,0,1,0
2017-05-10,14,8,1,0,1,0
2017-05-11,11,9,1,0,1,1
2017-05-12,14,12,1,0,1,0
2017-05-13,9,7,1,0,1,0
2017-05-14,8,7,0,0,2,0
2017-05-15,17,13,1,0,2,0
2017-05-16,10,17,1,0,1,0
2017-05-17,10,8,3,0,2,0
2017-05-18,15,8,3,3,3,2
2017-05-19,13,9,1,1,2,1
2017-05-20,14,11,1,0,1,0
2017-05-21,16,16,1,0,2,0
2017-05-22,29,15,1,1,2,0
2017-05-23,29,12,2,0,1,0
2017-05-24,14,7,1,0,1,0
2017-05-25,12,6,1,0,1,1
2017-05-26,13,23,1,0,1,0
2017-05-27,11,15,1,0,1,0
2017-05-28,11,12,1,1,3,0
2017-05-29,27,21,1,0,2,1
2017-05-30,30,31,1,0,3,0
2017-05-31,31,31,6,4,2,3
2017-06-01,29,25,6,2,2,1
2017-06-02,34,31,4,1,2,1
2017-06-03,31,26,2,0,2,0
2017-06-04,60,26,2,1,2,1
2017-06-05,41,27,3,1,4,1
2017-06-06,36,27,3,1,3,1
2017-06-07,57,43,4,1,4,1

In [191]:
nparties1 = parties1.reset_index()

In [192]:
nparties1

,date,Theresa May,Jeremy Corbyn,Tim Farron,Caroline Lucas and Jonathan Bartley,Nicola Sturgeon,Paul Nuttall
0,2017-04-18,100,12,7,1,5,0
1,2017-04-19,36,10,10,0,4,0
2,2017-04-20,17,15,3,1,3,0
3,2017-04-21,12,9,2,0,2,0
4,2017-04-22,11,8,2,0,2,0
5,2017-04-23,9,12,3,0,1,1
6,2017-04-24,7,8,3,0,2,2
7,2017-04-25,8,5,4,0,1,0
8,2017-04-26,10,7,3,0,2,0
9,2017-04-27,8,8,1,0,1,0
10,2017-04-28,7,5,1,0,1,1
11,2017-04-29,8,6,1,0,2,2
12,2017-04-30,16,5,2,0,1,0
13,2017-05-01,16,4,1,0,1,0
14,2017-05-02,16,5,1,0,1,0
15,2017-05-03,20,4,3,0,1,0
16,2017-05-04,14,4,1,0,1,0
17,2017-05-05,11,7,1,0,2,1
18,2017-05-06,8,6,1,0,2,0
19,2017-05-07,8,5,1,0,1,0
20,2017-05-08,10,6,2,0,1,0
21,2017-05-09,20,12,1,0,1,0
22,2017-05-10,14,8,1,0,1,0
23,2017-05-11,11,9,1,0,1,1
24,2017-05-12,14,12,1,0,1,0
25,2017-05-13,9,7,1,0,1,0
26,2017-05-14,8,7,0,0,2,0
27,2017-05-15,17,13,1,0,2,0
28,2017-05-16,10,17,1,0,1,0
29,2017-05-17,10,8,3,0,2,0
30,2017-05-18,15,8,3,3,3,2
31,2017-05-19,13,9,1,1,2,1
32,2017-05-20,14,11,1,0,1,0
33,2017-05-21,16,16,1,0,2,0
34,2017-05-22,29,15,1,1,2,0
35,2017-05-23,29,12,2,0,1,0
36,2017-05-24,14,7,1,0,1,0
37,2017-05-25,12,6,1,0,1,1
38,2017-05-26,13,23,1,0,1,0
39,2017-05-27,11,15,1,0,1,0
40,2017-05-28,11,12,1,1,3,0
41,2017-05-29,27,21,1,0,2,1
42,2017-05-30,30,31,1,0,3,0
43,2017-05-31,31,31,6,4,2,3
44,2017-06-01,29,25,6,2,2,1
45,2017-06-02,34,31,4,1,2,1
46,2017-06-03,31,26,2,0,2,0
47,2017-06-04,60,26,2,1,2,1
48,2017-06-05,41,27,3,1,4,1
49,2017-06-06,36,27,3,1,3,1
50,2017-06-07,57,43,4,1,4,1

In [ ]:
nparties1

In [ ]:
fparties1 = nparties1[nparties1.date > '2017-04-18']

In [ ]:
fparties1

In [ ]:
parties1

In [ ]:
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.graph_objs as go
import cufflinks as cf

In [ ]:
def retrieve_google_trends(start_date='2017-04-18', end_date='2017-06-07', geo='UK'):
    if end_date == '':
        import datetime as dt
        end_date = str(dt.datetime.today())[:10]
    period = start_date + ' ' + end_date
    pytrend = TrendReq('gmail', 'password', custom_useragent='My Pytrends Script')
    pytrend.build_payload(kw_list=['conservatives+conservative party+tories', 'labour party', 'liberal democrats+lib dems+lib dem', 'Green Party'] ,timeframe=period)
    # 'labour party', 'jeremy corbyn', 'nicola sturgeon', 'scottish national party', 'snp', 'tim farron', 'liberal democrats', 'lib dems', 'lib dem', 'Caroline Lucas', 'Jonathan Bartley', 'Green Party', 'Paul Nuttall', 'UK Independence Party', 'UKIP'
    return pytrend.interest_over_time()

In [ ]:
data4 = retrieve_google_trends()

In [ ]:
clsld2 = DataFrame(data4)

In [ ]:
clsld2.columns = ['Conservative Party', 'Labour Party', 'Liberal Democrats', 'Green Party']

In [ ]:
def retrieve_google_trends(start_date='2017-04-18', end_date='2017-06-07', geo='UK'):
    if end_date == '':
        import datetime as dt
        end_date = str(dt.datetime.today())[:10]
    period = start_date + ' ' + end_date
    pytrend = TrendReq('gmail', 'password', custom_useragent='My Pytrends Script')
    pytrend.build_payload(kw_list=['conservatives+conservative party+tories', 'labour party', 'scottish national party+snp','UK Independence Party+UKIP'] ,timeframe=period)
    # 'labour party', 'jeremy corbyn', 'nicola sturgeon', 'scottish national party', 'snp', 'tim farron', 'liberal democrats', 'lib dems', 'lib dem', 'Caroline Lucas', 'Jonathan Bartley', 'Green Party', 'Paul Nuttall', 'UK Independence Party', 'UKIP'
    return pytrend.interest_over_time()

In [ ]:
data5 = retrieve_google_trends()

In [ ]:
clsu2 = DataFrame(data5)

In [ ]:
clsu2.columns = ['Conservative Party 1', 'Labour Party 1', 'Scottish National Party', 'UK Independence Party']

In [ ]:
frames2 = [clsld2, clsu2]
result2 = pd.concat(frames2, axis=1)

In [ ]:
parties2 = result2.drop(['Conservative Party 1', 'Labour Party 1'], axis=1)

In [ ]:
parties2

In [ ]:
nparties2 = parties2.reset_index()

In [ ]:
nparties2

In [ ]:
fparties2 = nparties2[nparties2.date > '2017-04-18']

In [ ]:
fparties2

In [ ]:
data =[fig, trace0]
layout = go.Layout(
    plot_bgcolor='rgb(255,255,255)')
    
py.iplot(data, layout=layout)
#parties.iplot(layout=layout, kind='scatter', colors=['blue', 'red', 'yellow', 'green', 'orange', 'purple'])

In [ ]:
niparties = parties.reset_index()

In [ ]:
niparties

In [ ]:
niparties['date'] = pd.to_datetime(niparties['date'])

In [ ]:
niparties.index = niparties['date']

In [ ]:
tparties = niparties[niparties.date > '2017-04-18']

In [ ]:
testparties = tparties.resample('7D').sum()

In [ ]:
testparties

In [ ]:
rparties = niparties.resample('7D').sum()

In [ ]:
rparties

In [ ]:
trace_con = Bar(x=testparties.index,
                  y=testparties['Conservative Party'],
                  name='Conservatives',
                  marker=dict(color='rgb(40, 24, 248)'))

trace_lab = Bar(x=testparties.index,
                y=testparties['Labour Party'],
                name='Labour',
                marker=dict(color='rgb(252, 20, 20)'))

trace_lib = Bar(x=testparties.index,
                y=testparties['Liberal Democrats'],
                name='Lib Dems',
                marker=dict(color='rgb(246, 246, 26)'))

trace_gre = Bar(x=testparties.index,
                y=testparties['Green Party'],
                name='Green Party',
                marker=dict(color='rgb(26, 154, 29)'))

trace_snp = Bar(x=testparties.index,
                y=testparties['Scottish National Party'],
                name='SNP',
                marker=dict(color='rgb(238, 132, 16)'))

trace_uki = Bar(x=testparties.index,
                y=testparties['UK Independence Party'],
                name='UKIP',
                marker=dict(color='rgb(133, 52, 240)'))

data = [trace_con, trace_lab, trace_lib, trace_gre, trace_snp, trace_uki]

layout = Layout(title="Parties Popularity - Google Trends",
                xaxis=dict(title='Date'),
                yaxis=dict(title='Relative number of searches per party'))

fig = Figure(data=data, layout=layout)

py.iplot(fig)

In [ ]:
uparties = rparties.unstack()

In [ ]:
uparties

In [ ]:
urparty = DataFrame(uparties).reset_index()

In [ ]:
urparty

In [117]:
uparties_col = ['Party', 'Date', 'Searches']
urparty.columns = uparties_col

In [118]:
urparty.set_index(['Party'])

                              Date  Searches
Party
index                   2017-04-18        21
index                   2017-04-25        70
index                   2017-05-02       119
index                   2017-05-09       168
index                   2017-05-16       217
index                   2017-05-23       266
index                   2017-05-30       315
index                   2017-06-06       150
Conservative Party      2017-04-18       170
Conservative Party      2017-04-25        78
Conservative Party      2017-05-02        96
Conservative Party      2017-05-09        97
Conservative Party      2017-05-16       124
Conservative Party      2017-05-23       121
Conservative Party      2017-05-30       233
Conservative Party      2017-06-06       194
Labour Party            2017-04-18        78
Labour Party            2017-04-25        43
Labour Party            2017-05-02        44
Labour Party            2017-05-09        65
Labour Party            2017-05-16        83
Labour Party            2017-05-23        83
Labour Party            2017-05-30       167
Labour Party            2017-06-06       130
Liberal Democrats       2017-04-18        62
Liberal Democrats       2017-04-25        28
Liberal Democrats       2017-05-02        30
Liberal Democrats       2017-05-09        25
Liberal Democrats       2017-05-16        41
Liberal Democrats       2017-05-23        19
Liberal Democrats       2017-05-30        43
Liberal Democrats       2017-06-06        46
Green Party             2017-04-18        22
Green Party             2017-04-25        21
Green Party             2017-05-02        24
Green Party             2017-05-09        24
Green Party             2017-05-16        26
Green Party             2017-05-23        16
Green Party             2017-05-30        31
Green Party             2017-06-06        25
Scottish National Party 2017-04-18        41
Scottish National Party 2017-04-25        27
Scottish National Party 2017-05-02        36
Scottish National Party 2017-05-09        27
Scottish National Party 2017-05-16        31
Scottish National Party 2017-05-23        26
Scottish National Party 2017-05-30        40
Scottish National Party 2017-06-06        33
UK Independence Party   2017-04-18        19
UK Independence Party   2017-04-25        14
UK Independence Party   2017-05-02        22
UK Independence Party   2017-05-09        10
UK Independence Party   2017-05-16        16
UK Independence Party   2017-05-23        20
UK Independence Party   2017-05-30        26
UK Independence Party   2017-06-06        32

In [ ]:
gf.head()

In [ ]:
aparties

In [ ]:
aparties = rparties.mean()

In [ ]:
DataFrame(aparties)

In [ ]:
trace_con = Bar(x=rparties.index,
                  y=rparties['Conservative Party'],
                  name='Conservatives',
                  marker=dict(color='rgb(40, 24, 248)'))

trace_lab = Bar(x=rparties.index,
                y=rparties['Labour Party'],
                name='Labour',
                marker=dict(color='rgb(252, 20, 20)'))

trace_lib = Bar(x=rparties.index,
                y=rparties['Liberal Democrats'],
                name='Lib Dems',
                marker=dict(color='rgb(246, 246, 26)'))

trace_gre = Bar(x=rparties.index,
                y=rparties['Green Party'],
                name='Green Party',
                marker=dict(color='rgb(26, 154, 29)'))

trace_snp = Bar(x=rparties.index,
                y=rparties['Scottish National Party'],
                name='SNP',
                marker=dict(color='rgb(238, 132, 16)'))

trace_uki = Bar(x=rparties.index,
                y=rparties['UK Independence Party'],
                name='UKIP',
                marker=dict(color='rgb(133, 52, 240)'))

data = [trace_con, trace_lab, trace_lib, trace_gre, trace_snp, trace_uki]

layout = Layout(title="Parties Popularity - Google Trends",
                xaxis=dict(title='Date'),
                yaxis=dict(title='Relative number of searches per party'))

fig = Figure(data=data, layout=layout)

py.iplot(fig)