In [43]:
import pyodbc

In [44]:
conn = pyodbc.connect('DSN=') # connected us to SQL server

In [20]:
cur = conn.cursor() #  allows you to write a query

In [25]:
Title = 'Mr.'

In [27]:
cur.execute('select top 10 * from AdventureWorks.Person.Person where Title = \'%s\'' % Title)

In [28]:
# iterate the cursor - print the rows
row = cur.fetchall()

In [30]:
for r in row:
    print r[3],r[4],r[5],r[6]

Mr. Jossef H Goldberg
Mr. Hung-Fu T Ting
Mr. Brian S Welcker
Mr. Tete A Mensa-Annan
Mr. Syed E Abbas
Mr. Gustavo None Achong
Mr. Jay None Adams
Mr. Ronald L. Adina
Mr. Samuel N. Agcaoili
Mr. James T. Aguilar

In [24]:
# perform a transaction and commit
cur.execute('select top 10* from AdventureWorks.Person.Person')

In [37]:
Tweet = 'Its a rubbish day today'

In [38]:
cur.execute('insert into schema.dbo.tweets (tweet) values (\'%s\')' % Tweet)

In [39]:
# must remeber to commit or it won't complete the transaction and will get rolled back
cur.commit()

In [40]:
import sys 
try:
    cur.execute('insert into schema.dbo.tweets (tweet) values (\'%s\')' % Tweet)
except:
    print 'oops that went wrong'
    sys.exit